html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

body {
  margin: 0 auto;
  max-width: 960px;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 21px;
  font-family: 'Pathway Gothic One', sans-serif;
  margin-top: 3%;
}
body h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  padding: 20px;
}

.calender_box {
  display: table;
  background-color: orange;
}
.calender_box .week .day_name {
  display: table-cell;
  text-align: center;
  height: 30px;
  width: 100px;
  border: solid 1px black;
  background-color: white;
}
.calender_box .week .day {
  display: table-cell;
  width: 100px;
  height: 100px;
  border: solid 1px black;
  background-color: white;
}
.calender_box .week .day p {
  margin-left: 5px;
}
.calender_box .week .event {
  font-size: 13px;
  margin-left: 3px;
}

@media screen and (max-width: 500px) {
  .day_name {
    display: none;
  }

  .one {
    display: none;
  }

  .two {
    display: none;
  }

  .three {
    display: none;
  }

  .five {
    display: none;
  }

  .week .four .day_name {
    display: none;
  }
  .week .four .day_name .day {
    display: block;
    border: solid 1px black;
    background-color: white;
  }
  .week .four .day_name .day p {
    margin-left: 5px;
  }
  .week .four .day_name .event {
    font-size: 11px;
    margin-left: 3px;
  }

  .calender_box {
    margin-top: -20px;
  }
}
